{% extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/products.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">
{% endblock %}
    
{% block content %}
<br>
<div class="container">
    <a href="/category/productpitch" ><i class="fas fa-plus-square fa-3x"></i></a>
    <br>
    <br>

    {%for product in mypost%}
    <div class="row">
        <div class="panel panel-default"><a style="text-decoration: none;" href="/product/{{product.id}}"><h4>{{product.post}}</h4></a>
            <h5>by {{product.user.username}}</h5>
        <small class="text-muted">Created: {{ product.date_posted.strftime('%Y-%m-%d') }}</small></div>
    </div>

    {% if current_user.is_authenticated and current_user.has_liked_post(product) %}

        <a href="{{ url_for('main.productlike_action', product_id=product.id, action='unlike') }}"><i class="far fa-caret-square-up"></i></a>
        {% else %}
        <a href="{{ url_for('main.productlike_action', product_id=product.id, action='like') }}"><i class="far fa-caret-square-up"></i></a>
        {% endif %}
    {{ product.productlikes.count() }} likes

    {%endfor%}
</div>
{% endblock %}